@use "variables" as *;
@use "mixins" as *;

.hero {
    position: relative;
    background-color: $primaryColor;

    // .hero__container

    &__container {
        display: flex;
        justify-content: space-between;
        @media (min-width: 768px) {
            min-height: 770px;
        }
    }

    // .hero__content

    &__content {
        flex-shrink: 1;
        align-self: center;
        max-width: 848px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 59px;
        position: relative;
        z-index: 1;
        padding-block-end: 50px;
        padding-block-start: 65px;
    }

    // .hero__title

    &__title {
        font-size: clamp(36px, 5.79vw, 100px);
        font-weight: 500;
        color: #ededed;
    }

    // .hero__advantades-list

    &__advantades-list {
    }
    .button {
        font-size: clamp(20px, 1.39vw, 24px);
        width: 35.61%; /* 302/848 */
        min-width: fit-content;
    }

    // .hero__image-block

    &__image-block {
        width: 61.757106%; /* 956/1548 */
        min-height: 100%;
        position: absolute;
        top: 0;
        right: -32px;
        z-index: 0;
        opacity: 0.3;
        &::after {
            content: "";
            position: absolute;
            bottom: 25px;
            right: 0;
            z-index: 0;
            width: 956px;
            height: 50%;
            border-start-start-radius: 50% 100%;
            border-start-end-radius: 50% 100%;
            background-color: rgba(240, 123, 91, 0.2);
            filter: blur(34px);
        }
        @media (min-width: 992px) {
            opacity: 1;
        }
    }

    // .hero__image-item

    &__image-item {
        position: absolute;
        display: none;
        &.hero__image-item--1 {
            width: 478px;
            right: min(16.9vw, 292px);
            bottom: min(5.09vw, 88px);
            z-index: 2;
        }
        &.hero__image-item--2 {
            width: 443px;
            right: min(2.02vw, 35px);
            top: 0;
            height: 100%;
            z-index: 1;
        }
        @media (min-width: 768px) {
            display: block;
        }
    }

    // .hero__image

    &__image {
        height: 100%;
        object-fit: contain;
        object-position: center;
        .hero__image-item--1 & {
            aspect-ratio: 478 / 466;
        }
        .hero__image-item--2 & {
            aspect-ratio: 443 / 752;
        }
    }
}
.advantages {
    color: #f1e5e5;
    font-size: 27px;
    font-size: clamp(20px, 1.56vw, 27px);
    line-height: 1.89;
    // .advantages__item

    &__item {
        display: flex;
        align-items: center;
        column-gap: 5px;
        &:not(:last-child) {
            margin-bottom: 29px;
            align-self: flex-start;
            margin-top: 3px;
        }
        &::before {
            font-size: clamp(18px, 1.39vw, 24px);
        }
    }
}
.products {
    // .products__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        @media (min-width: 992px) {
            row-gap: 109px;
        }
    }

    // .products__title

    &__title {
        color: $primaryColorLight;
        font-size: clamp(30px, 2.77vw, 48px);
        font-weight: 600;
        display: flex;
        align-items: center;
        column-gap: 16px;
        &::before {
            content: "";
            width: 83px;
            height: 2.5px;
            background-color: $textDarkGreyColor;
        }
    }

    // .products__collection

    &__collection {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: clamp(20px, 3.94vw, 68px);
        @media (min-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(322px, 1fr));
        }
    }
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    // .product-card__image-link

    &__image-link {
        position: relative;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 322 / 395;
        border-radius: 173px;
        display: flex;
        justify-content: center;

        &::before {
            content: "";
            position: absolute;
            inset-inline: 0;
            inset-block: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            background: rgba(217, 217, 217, 0.5);
            box-shadow: 0 -125.982px 242.272px -9.691px rgba(0, 0, 0, 0.37) inset;
        }
        &::after {
            content: "";
            width: 77%;
            height: 45px;
            filter: blur(16.612947463989258px);
            background: url("/src/images/products/ellipse.svg") center/cover no-repeat;
            position: absolute;
            z-index: 1;
            inset-inline: 50%;
            inset-block-end: 30px;
            transform: translateX(-50%);
        }
        @media (any-hover: hover) {
            &:hover .product-card__image {
                transform: scale(1.02);
            }
        }
    }

    // .product-card__image

    &__image {
        max-width: 77%; /* 248/322 */
        aspect-ratio: 248 / 276;
        object-fit: contain;
        position: relative;
        z-index: 2;
        align-self: flex-end;
        margin-block-end: 10px;
        transition: transform 0.3s ease-out;
    }

    // .product-card__info

    &__info {
        flex-grow: 1;
        width: 93.17%; /* 300/322 */
        border-radius: 12px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        background: #fff;
        padding-inline: 20px;
        padding-block-start: 7px;
        padding-block-end: 8px;
        display: flex;
    }

    // .product-card__content

    &__content {
        flex-grow: 1;
        font-family: "Instrument Sans", sans-serif;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    // .product-card__title

    &__title {
        flex-grow: 1;
        font-size: 23px;
        font-weight: 700;
        color: #000;
    }

    // .product-card__title-link

    &__title-link {
        transition: color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                color: $primaryColor;
            }
        }
    }

    // .product-card__material

    &__material {
        color: $primaryColor;
    }

    // .product-card__button

    &__button {
        flex-shrink: 0;
        align-self: flex-end;
        margin-block: 10px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $primaryColorLight;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        transition: background-color 0.3s ease-out;
        @media (any-hover: hover) {
            &:hover {
                background-color: #6d2612;
            }
        }
    }
}
.design-solutions {
    // .design-solutions__container-small

    &__container-small {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: clamp(20px, 5.6vw, 98px);

        @media (max-width: 991.98px) {
            flex-wrap: wrap;
        }
    }

    // .design-solutions__image

    &__image {
        flex: 1 1 686px;
        min-width: 40%;
        aspect-ratio: 1;
        @media (max-width: 991.98px) {
            max-width: 450px;
        }
    }

    // .design-solutions__content

    &__content {
        flex: 1 1 680px;
        min-width: 40%;
        padding-inline-end: 17px;
    }

    // .design-solutions__title

    &__title {
        font-size: clamp(30px, 3.18vw, 55px);
        font-weight: 600;
        color: $textDarkGreyColor;
        &:not(:last-child) {
            margin-bottom: clamp(27px, 2.72vw, 47px);
        }
    }

    // .design-solutions__text

    &__text {
        font-size: clamp(16px, 1.33vw, 23px);
        line-height: 1.65;
        font-weight: 500;
        color: #545454;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        @media (min-width: 992px) {
            &:not(:last-child) {
                margin-bottom: 84px;
            }
        }
    }

    // .design-solutions__accordion

    &__accordion {
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        @media (min-width: 992px) {
            &:not(:last-child) {
                margin-bottom: 53px;
            }
        }
    }

    // .design-solutions__details

    &__details {
        padding-block-end: 23px;
        border-bottom: 1px solid #dadada;
        overflow: hidden;
        &:not(:first-child) {
            padding-block-start: 51px;
            padding-block-start: clamp(23px, 2.95vw, 51px);
        }
        @supports (interpolate-size: allow-keywords) {
            &::details-content {
                line-height: 1.65;
                color: #545454;
                block-size: 0;
                transition:
                    content-visibility 0.4s,
                    block-size 0.4s;
                transition-behavior: allow-discrete;
            }
            &[open]::details-content {
                block-size: auto;
            }
        }
    }
    // design-solutions__details-header
    &__details-header {
        font-size: clamp(16px, 1.33vw, 23px);
        font-weight: 600;
        line-height: 1.65;
        color: $textDarkGreyColor;
        position: relative;
        padding-inline-end: 50px;
        cursor: pointer;
        @include details-summary-murker(23px, $textDarkGreyColor);
    }
    //   design-solutions__details-text
    &__details-text {
        padding-inline: 10px;
        padding-block: 10px;
        font-size: clamp(14px, 1.33vw, 23px);
    }

    // .design-solutions__button

    &__button {
        min-width: 265px;

        @media (min-width: 992px) {
            font-size: 23px;
            padding-block: 24px;
        }
    }
}
.faq {
    background-color: $primaryColor;
    color: #ffffff;
    // .faq__container

    &__container {
        padding-block: 50px;
        @media (min-width: 992px) {
            padding-block: 100px;
        }
    }

    // .faq__title

    &__title {
        color: #f4efef;
        font-size: clamp(30px, 3.76vw, 65px);
        max-width: 912px;
        margin: 0 auto;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: clamp(40px, 4.68vw, 81px);
        }
    }

    // .faq__details-block

    &__details-block {
        max-width: 995px;
        margin: 0 auto;
    }

    // .faq__details

    &__details {
        padding-block-end: 32px;
        padding-inline-end: 17px;
        border-bottom: 1px solid #ffffff;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        @supports (interpolate-size: allow-keywords) {
            &::details-content {
                block-size: 0;
                transition:
                    content-visibility 0.4s,
                    block-size 0.4s;
                transition-behavior: allow-discrete;
            }
            &[open]::details-content {
                block-size: auto;
            }
        }
    }

    // .faq__details-summary

    &__details-summary {
        @include details-summary-murker(23px, #ffffff);
        font-size: clamp(18px, 1.85vw, 32px);
        font-weight: 600;
    }

    // .faq__details-text

    &__details-text {
        padding-block-start: 40px;
        font-size: clamp(14px, 1.5vw, 26px);
    }
}
